@{
    ViewData["Title"] = "Hello Mockups";
}

<h1>Mockups</h1>
<ul>
    <li><a href="@Url.Action("Quiz", "Mockups")">Quiz</a></li>
    <li><a href="@Url.Action("Index", "Quiz")">QuizResult</a></li>
</ul>
