<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Backend3</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <p>Backend3</p>
            <a href="@Url.Action("Index", "Home")">Home</a>
            <a href="@Url.Action("Index", "Mockups")">Mockups</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="divider"></div>
        <div>
            <p>© 2019 - Backend3</p>
        </div>
    </footer>
</body>
</html>